# Chrome Web Store developer dashboard > Publisher > Settings
CWS_PUBLISHER_ID=20845db2-48ab-4c1f-bdd1-61ea69a9a1c0
CWS_EXTENSION_ID=djadgfagoojilmfpnjnjdlippnfkblkk
CWS_CLIENT_ID=
CWS_CLIENT_SECRET=
CWS_REFRESH_TOKEN=

# https://addons.mozilla.org/developers/addon/api/key/
WEB_EXT_API_KEY=
WEB_EXT_API_SECRET=
